@media (min-width: 0px) {
  .main {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7) url("/public/images/imageSize/back1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    &__container {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__welcome,
      &__description,
      &__title {
        @include mainFont;
      }
    }
  }
}
@media (min-width: 600px) {
  .main__container {
    &__welcome,
    &__description,
    &__title {
      font-size: 3.6rem;
    }
  }
}
@media (min-width: 640px) and(orientation:landscape) {
  .main__container {
    &__welcome,
    &__description,
    &__title {
      font-size: 3rem;
    }
  }
}
@media (min-width: 1024px) {
  .main__container {
    &__welcome,
    &__description,
    &__title {
      font-size: 4rem;
    }
  }
}
