@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@300;700&family=Poppins:wght@300;700&family=Zilla+Slab:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1a1a1a;
}

span {
  color: #cc0000;
}

@media (min-width: 0px) {
  .open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  .scroll {
    background-color: black;
  }
  .navigation {
    width: 100%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation__title {
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 0.6rem;
    color: whitesmoke;
    font-family: "Fraunces", serif;
    text-shadow: 4px 4px 6px black;
  }
  .navigation__bar {
    margin-right: 0.6rem;
    z-index: 3;
  }
  .navigation__bar__line {
    margin-right: 7px;
    width: 35px;
    height: 5px;
    margin-bottom: 4px;
    border-radius: 20px;
    background-color: whitesmoke;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
  }
  .navigation__list {
    position: fixed;
    top: 0;
    left: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 2;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
  }
  .navigation__list__links {
    list-style: none;
    margin-top: 15px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .links__button {
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Fraunces", serif;
    cursor: pointer;
    text-shadow: 4px 4px 6px black;
    background-color: transparent;
    border: none;
  }
  .moveon {
    left: 0%;
  }
  .first {
    -webkit-transform: rotate(45deg) translateX(12px);
            transform: rotate(45deg) translateX(12px);
  }
  .second {
    opacity: 0;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  .third {
    -webkit-transform: rotate(-45deg) translate(13px);
            transform: rotate(-45deg) translate(13px);
  }
}

@media (min-width: 360px) {
  .navigation__title {
    font-size: 1.5rem;
  }
}

@media (min-width: 520px) and (orientation: landscape) {
  .open {
    height: 15vh;
  }
  .navigation {
    height: 15vh;
  }
  .navigation__title {
    padding-left: 1.2rem;
  }
  .navigation__bar {
    padding-right: 1.2rem;
  }
}

@media (min-width: 600px) {
  .navigation__title {
    font-size: 2.3rem;
    padding-left: 1.2rem;
  }
  .navigation__bar {
    padding-right: 1.2rem;
  }
  .navigation__bar__line {
    width: 60px;
    height: 9px;
    margin-bottom: 6px;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .navigation__bar__line {
    width: 35px;
    height: 5px;
  }
}

@media (min-width: 800px) {
  .open {
    height: 12vh;
  }
  .navigation {
    height: 12vh;
  }
  .navigation__list {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 70%;
    height: 10vh;
    background-color: transparent;
  }
  .navigation__list__links {
    margin-top: 0px;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
  }
  .navigation__list__links:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .links__button {
    font-size: 1.2rem;
  }
  .links__button::after {
    content: "";
    display: block;
    width: 0%;
    height: 3px;
    background-color: #cc0000;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .links__button:hover::after {
    width: 100%;
  }
  .links__button:hover {
    color: #cc0000;
  }
  .navigation__title {
    font-size: 1.7rem;
  }
  .navigation__bar {
    display: none;
  }
}

@media (min-width: 1024px) {
  .navigation__title {
    font-size: 2.3rem;
  }
  .links__button {
    font-size: 1.5rem;
  }
}

@media (min-width: 0px) {
  .main {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7) url("/public/images/imageSize/back1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
  }
  .main__container {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__container__welcome, .main__container__description, .main__container__title {
    font-family: "Zilla Slab", serif;
    font-weight: bold;
    color: #dcdcdc;
    font-size: 2rem;
    padding-bottom: 15px;
    text-shadow: 4px 4px 6px black;
  }
}

@media (min-width: 600px) {
  .main__container__welcome, .main__container__description, .main__container__title {
    font-size: 3.6rem;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .main__container__welcome, .main__container__description, .main__container__title {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .main {
    background: rgba(0, 0, 0, 0.7) url("/public/images/imageSize/back2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
  }
  .main__container__welcome {
    margin-top: 90px;
  }
  .main__container__welcome, .main__container__description, .main__container__title {
    font-size: 4rem;
  }
}

@media (min-width: 0px) {
  .about {
    overflow: hidden;
    width: 100%;
    min-height: 80vh;
    background-color: #2c2c2f;
    padding: 20px;
    position: relative;
  }
  .about__title {
    margin-left: 100%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: whitesmoke;
    text-shadow: 4px 4px 6px black;
  }
  .about__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__container__image {
    padding: 15px;
  }
  .about__container__description {
    color: whitesmoke;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 3px 3px 5px black;
    font-style: italic;
  }
  .image-portfolio {
    border-radius: 30px;
    height: 300px;
  }
}

@media (min-width: 600px) {
  .about__title {
    font-size: 3rem;
  }
  .about__container__description {
    font-size: 1.8rem;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .about__container__description {
    font-size: 1.3rem;
  }
}

@media (min-width: 800px) {
  .about__title {
    font-size: 3.5rem;
  }
  .about__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 20px;
  }
  .about__container__description {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: left;
    font-size: 1.2rem;
  }
  .image-portfolio {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 0px) {
  .skills {
    overflow: hidden;
    width: 100%;
    min-height: 80vh;
  }
  .skills__title {
    margin-left: 100%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: whitesmoke;
    text-shadow: 4px 4px 6px black;
    padding: 15px 0 15px 0;
  }
  .skills__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills__container__box {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0 20px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .box__title {
    text-shadow: 4px 4px 6px black;
    font-weight: bold;
    padding-top: 8px;
    font-size: 1.2rem;
    color: whitesmoke;
  }
}

@media (min-width: 500px) {
  .skills__container__box {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .skills__title {
    font-size: 3rem;
  }
}

@media (min-width: 600px) {
  .skills__title {
    font-size: 3rem;
  }
}

@media (min-width: 800px) {
  .skills__container__box {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
  }
  .skills__title {
    font-size: 3.5rem;
    padding-bottom: 25px;
  }
  .skills__container__box:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 0px) {
  .projects {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background-color: #2c2c2f;
  }
  .projects__title {
    margin-left: 100%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: whitesmoke;
    text-shadow: 4px 4px 6px black;
    padding: 20px 0 20px 0;
  }
  .projects__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects__container__project {
    border: 4px solid rgba(0, 102, 31, 0.87);
    padding: 10px;
    margin: 2% auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
  .project__info__tittle {
    margin-left: 100%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: whitesmoke;
    text-shadow: 4px 4px 6px black;
    margin-left: 0 !important;
    color: goldenrod;
  }
  .project__info__description {
    text-shadow: 3px 3px 5px black;
    padding-top: 5px;
    color: whitesmoke;
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 300;
  }
  .project__info__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
  }
  .project__info__button__live, .project__info__button__code {
    cursor: pointer;
    border: 2px solid whitesmoke;
    text-decoration: none;
    padding: 5px 18px;
    font-size: 0.75rem;
    font-weight: bold;
    color: whitesmoke;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .project__info__button__live:hover, .project__info__button__code:hover {
    background-color: whitesmoke;
    color: #1a1a1a;
  }
  .portfolio-big {
    display: none;
  }
}

@media (min-width: 533px) {
  .projects__title {
    font-size: 3rem;
  }
  .projects__container__project {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project__info {
    padding-left: 25px;
  }
}

@media (min-width: 700px) {
  .projects__title {
    font-size: 3.5rem;
  }
  .projects__container {
    width: 90%;
    margin: auto;
  }
  .projects__container__project {
    border-radius: 20px;
  }
  .project__info__tittle {
    font-size: 1.9rem;
  }
  .project__info__description {
    font-size: 0.9rem;
  }
  .project__info__button {
    padding-top: 15px;
  }
  .project__info__button__live, .project__info__button__code {
    padding: 5px 25px;
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  .turn-around {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .portfolio__img-mobile {
    display: none;
  }
  .portfolio-big {
    display: block;
  }
  .projects__container {
    width: 80%;
  }
  .project__info {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .project__info__tittle,
  .project__info__description,
  .project__info__ {
    padding-bottom: 5%;
  }
  .project__info__description {
    font-size: 1.1rem;
  }
  .project__info__tittle {
    font-size: 2.2rem;
  }
  .project__info__button {
    padding-top: 7px;
  }
  .project__info__button__live, .project__info__button__code {
    font-size: 1.1rem;
  }
}

@media (min-width: 0px) {
  .contact {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
  }
  .contact__title {
    margin-left: 100%;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: whitesmoke;
    text-shadow: 4px 4px 6px black;
    padding: 20px 0 20px 0;
  }
  .contact__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10px;
  }
  .contact__block__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__block__direct {
    -ms-flex-item-align: 40%;
        align-self: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-size {
    width: 80vw;
    padding: 6px 10px;
    margin-top: 15px;
  }
  .form-size:focus {
    outline: none;
  }
  .form-area {
    height: 40vh;
  }
  .form-btn {
    margin-top: 15px;
    border: 2px solid whitesmoke;
    background-color: #1a1a1a;
    padding: 5px 18px;
    font-size: 1.1rem;
    font-weight: bold;
    color: whitesmoke;
  }
  .direct {
    padding: 10px 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  .direct-text {
    font-size: 0.9rem;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    color: whitesmoke;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
  }
  .direct-textP {
    color: whitesmoke;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .direct-img {
    padding-right: 8px;
  }
}

@media (min-width: 600px) and (orientation: portrait) {
  .contact__title {
    font-size: 3rem;
  }
  .contact__block__direct {
    margin-top: 30px;
    margin-left: 80px;
  }
  .form-area {
    height: 20vh;
  }
  .form-size {
    width: 60vw;
    padding: 8px 15px;
  }
  .form-email,
  .form-area,
  .form-name {
    font-size: 1.4rem;
  }
  .form-btn {
    font-size: 1.8rem;
  }
  .direct-text,
  .direct-textP {
    font-size: 1.7rem;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .contact__title {
    font-size: 3.5rem;
  }
  .contact__block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .form-size {
    width: 40vw;
  }
  .form-area {
    height: 50vh;
  }
}

@media (min-width: 1024px) {
  .contact__title {
    font-size: 3.5rem;
  }
  .form-area {
    height: 40vh;
  }
  .form-size {
    width: 35vw;
    padding: 8px 15px;
  }
  .form-email,
  .form-area,
  .form-name {
    font-size: 1.2rem;
  }
  .form-btn {
    cursor: pointer;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    font-size: 1.4rem;
  }
  .form-btn:hover {
    color: #1a1a1a;
    background-color: whitesmoke;
  }
  .direct {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
  }
  .direct:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .direct-text,
  .direct-textP {
    font-size: 1.3rem;
  }
  .direct-text:hover,
  .direct-textP:hover {
    color: #ddd;
  }
}

@media (min-width: 0px) {
  .footer {
    width: 100%;
    height: 10vh;
    background-color: #2c2c2f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: whitesmoke;
    font-weight: bold;
  }
  .footer__year {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 600px) {
  .footer {
    font-size: 1.3rem;
  }
}

.move-left {
  -webkit-animation: move-left 1.2s both;
          animation: move-left 1.2s both;
}

@-webkit-keyframes move-left {
  0% {
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes move-left {
  0% {
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */