@media (min-width: 0px) {
  .about {
    overflow: hidden;
    width: 100%;
    min-height: 80vh;
    background-color: #2c2c2f;
    padding: 20px;
    position: relative;
    &__title {
      @include title;
    }
    &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__image {
        padding: 15px;
      }
      &__description {
        color: whitesmoke;
        font-size: clamp(1.1rem, 6vw, 1.2rem);
        text-align: center;
        letter-spacing: 2px;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
        font-style: italic;
      }
    }
  }
  .image-portfolio {
    border-radius: 30px;
    height: 300px;
  }
}

@media (min-width: 800px) {
  .about__container {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    &__description {
      flex-basis: 50%;
      text-align: left;
    }
  }
  .image-portfolio {
    width: 300px;
    height: 300px;
  }
}
